@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /* Rende tutto non selezionabile */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* --- TITLE SECTION --- */

.title {
    margin: 25px 30px 0;
    text-align: center;
}

.title h1 span {
    font-family: 'Fredoka One', cursive;
    color: tomato;
}

.title h2 {
    font-weight: normal;
}

.title h2 span {
    font-weight: bold;
}

/* --- SEPARE SECTION --- */

.separe {
    margin: 40px 30px 0px;
    text-align: center;
    font-size: 24px;
}

#advert {
    font-size: 14px;
    margin: 0;
}

/* --- SCHEDE SECTION --- */

.schede-attrezzi {
    padding: 20px 0;
    white-space: nowrap;
    overflow-x: auto;
}

.div-attrezzo {
    display: inline-block;
    margin: 20px 40px;
    padding: 10px 10px 0;
    width: 400px;
    text-align: center;
    box-shadow: 0pt 3pt 18pt -4pt gray;
    border-radius: 15px;
    border: 3px solid tomato;
    white-space: normal;
    vertical-align: top;
    transition: all 0.5s ease;
    cursor: pointer;
}

.div-attrezzo:hover {
    box-shadow: 0pt 3pt 18pt 1pt gray;
}

.name {
    font-size: 20px;
}

.img, .btn{
    display: none;
}

.price {
    font-size: 26px;
    margin: 0;
}

/* --- CLONE SECTION --- */

#tutorial {
    margin: 30px 30px 0;
    text-align: center;
    font-size: 24px;
}

#clone {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 700px;
    border: 0px;
    transition: none;
    cursor: default;
}

#clone:hover {
    box-shadow: 0pt 3pt 18pt -4pt gray;
}

#clone .name {
    font-size: 24px;
}

#clone .img {
    display: inline;
    margin: 0px 50px;
    max-width: 400px;
    max-height: 400px;
}

#clone .btn {
    display: inline-block;
    margin: 10px 5px 0;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    width: auto;
    cursor: pointer;
}

.cl-aff {
    background-color: #FF6D12;
    border: 1px solid #FF6D12;
    color: white;
    transition: all 0.3s ease;
}

.cl-aff:hover {
    background-color: #FF8337;
    border: 1px solid #FF8337;
    color: white;
}

#error {
    margin: 30px 30px;
    font-size: 24px;
    color: red;
    text-align: center;
}