@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* --- TITLE SECTION --- */

.title {
    text-align: center;
}

.title h1 span {
    font-family: 'Fredoka One', cursive;
    color: tomato;
}

.title h2 {
    font-weight: normal;
}

.title h2 span {
    font-weight: bold;
}

/* --- SEPARE SECTION --- */

.separe {
    margin: 50px 30px 24px;
    text-align: center;
    font-size: 24px;
}

/* --- SCHEDE SECTION --- */

.schede-attrezzi {
    padding: 20px 0;
    white-space: nowrap;
    overflow-x: auto;
}

.div-attrezzo {
    display: inline-block;
    margin: 20px 40px;
    padding: 10px 10px 0;
    width: 400px;
    text-align: center;
    box-shadow: 0pt 3pt 18pt -4pt gray;
    border-radius: 15px;
    border: 3px solid tomato;
    white-space: normal;
    vertical-align: top;
}

.name {
    font-size: 20px;
}

.img, .btn-affitta{
    display: none;
}

.price {
    font-size: 26px;
    margin: 0;
}

/* --- CLONE SECTION --- */

#clone {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 700px;
    border: 0px;
}

#clone .name {
    font-size: 24px;
}

#clone .img {
    display: inline;
    margin: 0px 50px;
    max-width: 400px;
    max-height: 400px;
}

#clone .btn-affitta {
    display: inline-block;
}