@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background: #9796f0;
    background: -webkit-linear-gradient(to top, #fbc7d4, #9796f0);
    background: linear-gradient(to top, #fbc7d4, #9796f0);
    background-attachment: fixed;
    color: whitesmoke;
}

.title {
    margin: 0 0 40px;
    font-size: 19px;
    text-align: center;
}

.title hr {
    max-width: 700px;
    border: 1px solid whitesmoke;
}

.es-list {
    text-align: center;
}

.es-list ol {
    font-size: 18px;
    list-style-type: upper-roman;
    padding: 0;
}

.es-list a {
    text-decoration: none;
    color: whitesmoke;
}

.p-btn {
    margin: 50px 0 0;
    text-align: center;
}


.btn {
    padding: 10px 25px;
    font-size: 16px;
    outline: none;
    border-radius: 7px;
}

.add {
    background-color: #68656C;
    border: 1px solid #68656C;
    color: white;
    transition: all 0.3s ease;
}

.add:hover {
    background-color: #88858C;
    border: 1px solid #88858C;
    color: white;
}

.add-es {
    display: none;
    margin: 40px auto 0;
    max-width: 1000px;
    text-align: center;
}

.up {
    padding: 15px 25px;
    background-color: #7B85EA;
    border: 1px solid #7B85EA;
    transition: all 0.3s ease;
}

.up:hover {
    background-color: #9FA6F0;
    border: 1px solid #9FA6F0;
}

.up img {
    position: relative;
    top: 10px;
    left: 5px;
}

.margin-top {
    margin-top: 30px;
}

#fileToUpload {
    display: none;
}

#icons8 {
    position: absolute;
    right: 1%;
    bottom: 0.3%;
    color: white;
}

#icons8 a {
    text-decoration: underline;
    color: white;
}