@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background: #9796f0;
    background: -webkit-linear-gradient(to top, #fbc7d4, #9796f0);
    background: linear-gradient(to top, #fbc7d4, #9796f0);
    background-attachment: fixed;
    color: whitesmoke;
    -webkit-appearance: none;
}

.title {
    margin: 0 0 40px;
    font-size: 19px;
    text-align: center;
}

.title hr {
    max-width: 700px;
    border: 1px solid whitesmoke;
}

.es-list {
    text-align: center;
}

.es-list ul {
    font-size: 18px;
    list-style-type: none;
    padding: 0;
}

.es-list a {
    text-decoration: none;
    color: whitesmoke;
}

.p-btn {
    margin: 50px 0 0;
    text-align: center;
}


.btn {
    padding: 10px 25px;
    font-size: 16px;
    outline: none;
    border-radius: 7px;
}

.add {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease;
}

.add:hover {
    background-color: #7B85EA;
    border: 1px solid #7B85EA;
    color: white;
}

.add-es {
    display: none;
    margin: 40px auto 0;
    max-width: 1000px;
    text-align: center;
}

.add-es hr {
    max-width: 400px;
    border: 1px solid whitesmoke;
}

.up {
    margin: 10px 0 0;
    display: inline-block;
    background-color: #7B85EA;
    border: 1px solid #7B85EA;
    transition: all 0.3s ease;
}

.up:hover {
    background-color: #9FA6F0;
    border: 1px solid #9FA6F0;
}

.up img {
    margin: 0 0 0 6px;
    height: 25px;
    vertical-align: text-bottom;
}

.load {
    /*
        Vedere gradient text
        background: hsla(333, 100%, 53%, 1);
        background: linear-gradient(0deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        background: -moz-linear-gradient(0deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        background: -webkit-linear-gradient(0deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    */
    margin: 10px 0 0;
    background-color: #EF6A22;
    border: 1px solid #EF6A22;
    color: white;
    transition: all 0.3s ease;
}

.load:hover {
    background-color: #F28B54;
    border: 1px solid #F28B54;
    color: white;
}

.load img {
    margin: 0 0 0 6px;
    height: 25px;
}

.load span, .load img {
    vertical-align: middle;
}

#fileToUpload {
    display: none;
}